.homeList{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 2px 6px 8px 1px rgba(0,0,0,0.1000);
  border-radius: 18px 18px 18px 18px;
  overflow: hidden;
  height: 475px;
  margin-bottom: 30px;
  .img{
    width: 100%;
    height: 355px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .time{
    margin-top: 22px;
    padding:0 28px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
  }
  .content{
    margin-top: 4px;
    padding:0 28px;
    width: 100%;
    height: 33px;
    font-size: 26px;
    box-sizing: border-box;
    color: #505050;
  }
}